@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --background: #f9fafb;
  --indigo6: #4f46e5;
  --gray8: #1f2937;
  --secondarytext: #4b5563;
  --lighter-shadow: rgba(#4f46e5, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--gray8);
}

p,
h1,
h3,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

/* login--section */
.login__container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  text-align: center;
  justify-content: center;
}

.login__header {
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: 0.3rem;
  color: var(--indigo6);
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  color: var(--gray8);
}

.btn__container {
  width: auto;
  margin-top: 1rem;
}

.spotify__login {
  background: #1ed760;
  color: white;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.redirect__btn {
  background: #1ed760;
  color: white;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

/* homepage */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
}

.navigation {
  flex-grow: 1;
  margin-left: 40px;
}

.navigation--item {
  margin-left: 24px;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--indigo6);
}

.logout {
  font-size: 1.2rem;
  color: var(--indigo6);
}
.menu-button {
  flex-grow: 1;
  display: none;
}

.menu-button button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.mobile-nav {
  position: fixed;
  width: 100vw;
  height: 50vh;
  background-color: white;
  padding: 24px;
  display: none;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.mobile-nav__open {
  transform: translateX(0);
}

.mobile-nav--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.close--btn button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.mobile-navigation--item {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 24px;
  font-weight: 500;
  color: var(--indigo6);
}

/* browse section */
.search {
  margin-top: 24px;
}

.search__form {
  display: flex;
  max-width: 500px;
}

.search__box {
  flex: 1 0 150px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid var(--indigo6);
  outline: none;
  font-size: 1rem;
}

.search__btn {
  flex: 0 1 50px;
  margin-left: 30px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: var(--indigo6);
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.search__btn:hover {
  background-color: #4338ca;
}

/* search dropdown */
.search__dropdown {
  background: white;
  box-shadow: 0px 0px 20px 0px var(--secondarytext);
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
  height: 400px;
  overflow-y: auto;
}

.dropdown__container {
  display: flex;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 20px;
}

.dropdown__container:hover {
  color: var(--indigo6);
}

.cover {
  flex: 0.5;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  border-radius: 5px;
}

.artists--name {
  flex: 1;
  font-size: 0.9rem;
  font-weight: 500;
}

.title--left {
  flex: 1;
  font-size: 0.9rem;
  margin-left: 20px;
  font-weight: 500;
  color: var(--secondarytext);
}

/* main container */
main {
  display: flex;
}

/* playlist */
.main--playlist {
  flex: 2;
  margin-top: 40px;
  margin-bottom: 40px;
}

.albums {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.album:hover {
  color: var(--indigo6);
}

.album {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  align-items: center;
  border-radius: 10px;
}

.album__cover {
  width: 100%;
  border-radius: 10px;
}

.album__cover:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-animation: flash 2.5s;
  animation: flash 2.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.album__desc {
  font-size: 1.1rem;
  font-weight: 500;
}

/* music player */
.main--player {
  flex: 1;
  margin-top: 40px;
  padding-left: 30px;
}

.current-song {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  border-radius: 20px;
  color: #071739;
  background: #fff;
}

.img-wrap {
  position: relative;
  margin: 0 auto;
  width: 270px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 10px 40px 0px rgba(39, 70, 132, 0.7);
}

.img-wrap img {
  width: 100%;
  height: 100%;
}

.current__song--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.song-name {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
  color: var(--indigo6);
}

.song-autor {
  color: var(--gray8);
  font-size: 22px;
  font-weight: 500;
}

.controls {
  margin-top: 7px;
  text-align: center;
}

audio {
  outline: none;
}

footer {
  color: var(--indigo6);
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

/* footer */
footer {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.link {
  color: #2563eb;
}

/* loading */
.loading {
  background: #f7f7ff;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (max-width: 768px) {
  main {
    display: block;
  }

  .navigation {
    display: none;
  }

  header .logo {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .menu-button {
    display: block;
  }

  .main--player {
    padding-left: 0;
  }
}
